{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to Local Weather Tracker</h2>

<h3>
    This application allows you to fetch live weather data, save it into your database, and view or manage all observations
</h3>

<h4>
    Main Features
</h4>
<ul>
    <li>Fetch live weather data from Open-Meteo API</li>
    <li>Save observations to your PostgreSQL database</li>
    <li>View all saved observations</li>
    <li>View details for each observation</li>
    <li>Update temperature and windspeed</li>
    <li>Delete observations</li>
</ul>

<br>
<a href="/observations" class="btn">View All Observations</a>
{% endblock %}