{% extends "base.html" %}

{% block title %}Observations{% endblock %}

{% block content %}
<h2>All Weather Observations</h2>

<table>
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Temperature</th>
        <th>Windspeed</th>
        <th>Actions</th>
    </tr>

    {% for row in observations %}
    <tr>
        <td>{{ row.city_id }}</td>
        <td><a href="/observations/{{ row.city_id }}">{{ row.city }}</a></td>
        <td>{{ row.temperature }}</td>
        <td>{{ row.windspeed }}</td>
        <td>
            <a href="/observations/{{ row.city_id }}/update">Update</a> |
            <a href="/observations/{{ row.city_id }}/delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a class="btn" href="/">Back Home</a>
<a class="btn" href="/ingest">Add New City</a>
{% endblock %}