{% extends "base.html" %}

{% block title %}Observation Details{% endblock %}

{% block content %}
<h2>City: {{ record.city }}</h2>

<p><strong>ID:</strong> {{ record.city_id }}</p>
<p><strong>Temperature:</strong> {{ record.temperature }}</p>
<p><strong>Windspeed:</strong> {{ record.windspeed }}</p>
<p><strong>Latitude:</strong> {{ record.latitude }}</p>
<p><strong>Longitude:</strong> {{ record.longitude }}</p>
<p><strong>Observation Time:</strong> {{ record.observation_time }}</p>

<br>
<a href="/observations" class="btn">Back to list</a>
{% endblock %}